$orange: #ff842b;
$yellow: #fec538;
$black: #000000;
$white: #fff;
$green: #01c120;
$red: #ff0000;
$border-color: #cdcdcd;
$green-valid: #00ca14;
$btn-active: #d2d2d2;
$border-card: #d2d5da;
$text-input: #6c727f;
$black-input: #121826;
